name: Backend CI/CD - EC2

on:
  push:
    branches:
      - master
    paths:
      - "Mernbackintegration/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/mern-aws-ecom/Mernbackintegration
            git pull origin master
            npm install
            echo "MONGO_URI=${{ secrets.MONGO_URI }}" > .env
            echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
            echo "PORT=5000" >> .env
            pm2 restart backend || pm2 start server.js --name backend
            pm2 save